@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Castoro+Titling&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bruno Ace SC', cursive;
    background-color: rgb(0, 6, 24);
    color: #1ad367;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1ad367;
    border-radius: 5px;
    min-height: 100vh;
}

.login{
    background: transparent;
    border-radius: 10px;
    width: 400px;
    padding: 40px;
}

.login h2{
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
    color: #1ad367;
}

.login .box-user{
    position: relative;
}

.login .box-user input{
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #1ad367;
    color: #1ad367;
    font-size: 16px;
    margin-bottom: 30px;
}

.login .box-user label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: #1ad367;
    font-size: 16px;
    transition: .5s;
}

.login .box-user input:focus~label,
.login .box-user input:valid~label {
    top: -20px;
    left: 0;
    font-size: 12px;
}

.login .box-user ion-icon{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: #1ad367;
}

.forget{
    font-size: 12px;
    color: #1ad367;
    float: right;
    text-decoration: none;
    
}

.btn{
    position: relative;
    display: inline-block;
    padding: 12px 20px;
    color: #1ad367;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 1000;
    margin-top: 20px;
    transition: .5s;
    overflow: hidden;
}

.btn:hover{
    background: #1ad367;
    border-radius: 7px;
    color: rgb(0, 4, 17);
}

.btn span{
    position: absolute;
    display: block;
}

.btn span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent, #1ad367);
    animation: btn1 1s linear infinite;
}
@keyframes btn1{
    0%{
        left: -100%;
    }
    50%,
    100%{
        left: 100%;
    }
}

.btn span:nth-child(2){
    top: -100%;
    right: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #1ad367);
    animation: btn2 1s linear infinite;
    animation-delay: .20s;
}
@keyframes btn2{
    0%{
        top: -100%;
    }
    50%,
    100%{
        top: 100%;
    }
}

.btn span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg, transparent, #1ad367);
    animation: btn3 1s linear infinite;
    animation-delay: .45s;
}
@keyframes btn3{
    0%{
        right: -100%;
    }
    50%,
    100%{
        right: 100%;
    }
}

.btn span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #1ad367);
    animation: btn4 1s linear infinite;
    animation-delay: .70s;
}
@keyframes btn4{
    0%{
        bottom: -100%;
    }
    50%,
    100%{
        bottom: 100%;
    }
}